div.productmainlist ul {
  margin-top: 20px; }
  div.productmainlist ul li {
    font: 14px/26px "";
    float: left;
    cursor: pointer;
    width: 238px;
    height: 430px;
    margin-top: 10px; }
    div.productmainlist ul li div.te1 {
      margin: 0 5px;
      border: 1px solid #dddddd;
      height: 394px;
      padding: 5px;
      position: relative;
      width: 220px;
      float: left;
      overflow: hidden; }
      div.productmainlist ul li div.te1 img {
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px; }
      div.productmainlist ul li div.te1 a.itemname {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      div.productmainlist ul li div.te1 i {
        color: #a0a0a0; }
      div.productmainlist ul li div.te1 p span {
        color: #e6423b;
        font-weight: 700; }
      div.productmainlist ul li div.te1 div {
        width: 170px;
        background: #e6423b;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 60px; }
        div.productmainlist ul li div.te1 div a {
          text-align: center;
          display: block;
          border: 1px solid #DDDDDD;
          color: #FFFFFF; }
  div.productmainlist ul li:hover {
    border: 1px solid #dddddd;
    height: 428px; }
    div.productmainlist ul li:hover div.te1 {
      overflow: visible;
      border: none; }
